.profile_pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blueviolet;
    color: aliceblue;
}
.header ul {
    padding: 0;
    margin: 0px;
}
.header ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

/*loader */

.site-loader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
}
.loader,
.loader:before,
.loader:after {
background: #ffffff;
-webkit-animation: load1 1s infinite ease-in-out;
animation: load1 1s infinite ease-in-out;
width: 10px;
height: 15px;
}
.loader {
color: #ffffff;
text-indent: -9999em;
margin: auto;
position: relative;
font-size: 11px;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}
.loader:before,
.loader:after {
position: absolute;
top: 0;
content: '';
}
.loader:before {
left: -1.5em;
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}
.loader:after {
left: 1.5em;
}
@-webkit-keyframes load1 {
0%,
80%,
100% {
  box-shadow: 0 0;
  height: 3em;
}
40% {
  box-shadow: 0 -2em;
  height: 4em;
}
}
@keyframes load1 {
0%,
80%,
100% {
  box-shadow: 0 0;
  height: 3em;
}
40% {
  box-shadow: 0 -2em;
  height: 4em;
}
}

/* loader css end here */